<h1>
  Angular Notes
</h1>

<h6>Only for FSD OCBC 1</h6>

<a href="https://github.com/easterneas/angular-notes">GitHub</a>

<p>
  Hi! 👋🏻
</p>
<p>
  Ini adalah catatan lecture untuk referensi kalian untuk ke depannya ya...
</p>
<p>
  Pastikan kalian selalu lakukan <code>git pull</code> di jam 6 sore
  untuk mendapatkan catatan terkini ya...
</p>
<p>
  Repo ini hanya akan berlaku selama sesi berlangsung, dan akan di-private H+1
  setelah final project.
</p>
<p>
  Happy coding! 🎉
</p>

<h2>
  Session 19
</h2>

<h2>
  Session 20
</h2>

<h2>
  Session 21
</h2>

<h2>
  Session 22
</h2>

<h2>
  Session 23
</h2>

<h2>
  Session 24
</h2>

<h3>Angular Forms</h3>

<h4>
  Template-driven Form
</h4>

<app-template-driven-form></app-template-driven-form>

<h4>Reactive Form</h4>

<app-login-reactive-form></app-login-reactive-form>
