<h1>
  Angular Notes
</h1>

<h6>Only for FSD OCBC 1</h6>

<a href="https://github.com/easterneas/angular-notes">GitHub</a>

<p>
  Hi! 👋🏻
</p>
<p>
  Ini adalah catatan lecture untuk referensi kalian untuk ke depannya ya...
</p>
<p>
  Pastikan kalian selalu lakukan <code>git pull</code> di <strong>jam 6 sore</strong>
  untuk mendapatkan catatan terkini ya...
</p>
<p>
  Repo ini hanya akan berlaku selama sesi berlangsung, dan akan di-private H+1
  setelah final project.
</p>
<p>
  Happy coding! 🎉
</p>

<p>Pilih session untuk melihat:</p>

<form [formGroup]="form.inputData">
  <select formControlName="session" (change)="changeSession()">
    <option *ngFor="let session of sessions" [value]="session">Session {{ session }}</option>
  </select>
</form>

<!-- SESSION 19 -->

<div *ngIf="currentSession == 19">
  <h2>
    Session 19
  </h2>

  <h3>Intro to Angular Components</h3>

  <app-angular-components></app-angular-components>
</div>

<!-- SESSION 20 -->

<div *ngIf="currentSession == 20">
  <h2>
    Session 20
  </h2>

  <h3>Angular Lifecycle</h3>

  <h3>Angular Data Binding</h3>

  <h4>One-way binding: Properties</h4>

  <h4>One-way binding: Events</h4>

  <h4>Two-way binding: NgModel</h4>
</div>

<!-- SESSION 21 -->

<div *ngIf="currentSession == 21">
  <h2>
    Session 21
  </h2>

  <h3>Angular Expressions & Directives</h3>
</div>

<!-- SESSION 22 -->

<div *ngIf="currentSession == 22">
  <h2>
    Session 22
  </h2>

  <h3>Angular Pipes</h3>
</div>

<!-- SESSION 23 -->

<div *ngIf="currentSession == 23">
  <h2>
    Session 23
  </h2>

  <h3>Angular Modules</h3>

  <app-todo-dashboard></app-todo-dashboard>

  <h3>Angular View Encapsulation</h3>

  <blockquote>
    NOTE: <code>ShadowDOM</code> hanya dapat berjalan jika terdapat
    minimal 2 DOM terpisah di satu tingkat yang sama. Jika tidak,
    maka akan tetap mengikuti root DOM.
    <br>
    <br>
    <strong>WARNING!</strong><br>
    <ol>
      <li>
        <code>ShadowDOM</code> tidak di-support oleh semua browser, jadi
    pergunakan dengan hati-hati!
      </li>
      <li>
        <a href="https://angular.io/guide/view-encapsulation#mixing-encapsulation-modes">
          Hindari component yang menggunakan encapsulation campuran
        </a>, atau akan terjadi bug seperti pada demo ini. <b>
          Refresh browser dan pilih session lain untuk reset styling.
        </b>
      </li>
    </ol>
  </blockquote>

  <app-view-encapsulation-none></app-view-encapsulation-none>
  <app-view-encapsulation-emulated></app-view-encapsulation-emulated>
  <app-view-encapsulation-shadow-dom></app-view-encapsulation-shadow-dom>

</div>

<!-- SESSION 24 -->

<div *ngIf="currentSession == 24">
  <h2>
    Session 24
  </h2>

  <h3>Angular Forms</h3>

  <h4>
    Template-driven Form
  </h4>

  <app-template-driven-form></app-template-driven-form>

  <h4>Reactive Form</h4>

  <app-login-reactive-form></app-login-reactive-form>
</div>

<!-- SESSION 25 -->

<div *ngIf="currentSession == 25">
  <h2>Kamingsun!</h2>
</div>

<!-- SESSION 26 -->

<div *ngIf="currentSession == 26">
  <h2>Kamingsun!</h2>
</div>

<!-- SESSION 27 -->

<div *ngIf="currentSession == 27">
  <h2>Kamingsun!</h2>
</div>




