<div class="hero min-h-full">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        Angular Notes
      </h1>

      <p class="mb-5">
        Hi! 👋🏻
      </p>
      <p>
        Ini adalah catatan lecture untuk referensi kalian untuk ke depannya,
        yang berisi apa yang sudah pelajari dari awal materi hingga selesai.
      </p>
      <p>
        Untuk unit testing, kalian cukup menjalankan <code>ng test</code> (hanya
        berlaku pada direktori Session 27), untuk mendapatkan gambaran dasar
        mengenai bagaimana unit testing dalam Angular bekerja.
      </p>
      <p>
        Hope these helps, and happy coding! 🎉
      </p>

      <!--
        Saya ganti <a> dengan <app-link> untuk menunjukkan component reusablility.
        Kalian dapat melihat component ini pada file:
        /src/app/components/clickables/link/Link.component.ts

        Component ini dibungkus pada module Clickables, jadi kalian bisa buka
        file /src/app/components/clickables/clickables.module.ts juga ya!

        <app-link
          linkType="external"
          [linkTo]="['https://github.com/easterneas/angular-notes']"
          [linkName]="'clone this repo @ GitHub'">
        </app-link>
      -->
    </div>
  </div>
</div>



